{% extends "base.html" %}
{%block page%}
<div class='row'>
	<div  class="col-xs-12 col-sm-6 col-lg-6">
	
		<canvas id="graph" style="margin-right: auto; margin-left: auto;"></canvas>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6" id="myfirstchart" style="height: 250px;"></div>
</div>
<div>
<form class = "form-horizontal" action="" method="post" name='compartment'>{%csrf_token%}
{{compartment_form}}
</form>
</div>


{% load dajaxice_templatetags %}{% dajaxice_js_import %}
{%endblock page%}


{% block scripts %}

<script type="text/javascript" src="/static/js/dracula/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/springy.js"></script>
<script type="text/javascript" src="/static/js/springyui.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>


<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">


<script>
new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2006', value: 20 },
    { year: '2009', value: 10 },
    { year: '2010', value: 5 },
    { year: '2011', value: 5 },
    { year: '2012', value: 20 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});
</script>	
	
<script type="text/javascript">
	
	$(document).ready(function() {
Dajaxice.perfetc.show_graph(Dajax.process,{'body_model_id':{{bodymodel.examination}} });    
});
</script>	
<script>
var graph = new Springy.Graph();
//var graphJSON = [];
//graph.loadJSON(graphJSON);
jQuery(function (){
  var springy = jQuery('#graph').springy({
  graph: graph,
  nodeSelected: function (node) {
    console.log(node);
    Dajaxice.perfetc.node_props(Dajax.process,{'body_model_id':{{bodymodel.examination}},'nodename':node.id});
      // body...
    }
  });
});
</script>



{% endblock scripts %}