{% extends "base.html" %}
{%block page%}
<div class='row'>
	<div  class="col-xs-12 col-sm-6 col-lg-6">
	
		<canvas id="graph" style="width: 400px; heigh:400px;"></canvas>
	</div>
	<div class="col-xs-12 col-sm-5 col-lg-5" id="concentration_plot" style="height: 250px;">
  </div>
  <div class="col-xs-12 col-sm-1 col-lg-1" id="choices"> </div> 
  <div class="col-xs-12 col-sm-5 col-lg-5" id="tt_plot" style="height: 250px;">
  </div>
  
  
</div>
<div>
<form class = "form-horizontal" action="" method="post" id='compartment'>
{{compartment_form}}
</form>
</div>
<div>
<form class = "form-horizontal" action="" method="post" id='new_compartment'>
{{compartment_form}}
</form>
</div>


{% load dajaxice_templatetags %}{% dajaxice_js_import %}
{%endblock page%}


{% block scripts %}

<script type="text/javascript" src="/static/js/dracula/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/springy.js"></script>
<script type="text/javascript" src="/static/js/springyui.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>



<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">


	
<script>
var draw_concentration_plot = function (data){
  
  datasets = data[0]
  dataset_tt = data[1]
  var i = 0;
    $.each(datasets, function(key, val) {
      val.color = i;
      ++i;
    });

    // insert checkboxes 
    var choiceContainer = $("#choices");
    choiceContainer.html("")
    $.each(datasets, function(key, val) {
      
      choiceContainer.append("<br/><input type='checkbox' name='" + key +
        "' checked='checked' id='id" + key + "'></input>" +
        "<label for='id" + key + "'>"
        + val.label + "</label>");
    });

    choiceContainer.find("input").click(plotAccordingToChoices);

    function plotAccordingToChoices() {

      var data_conc = [];
      var data_tt = [];

      choiceContainer.find("input:checked").each(function () {
        var key = $(this).attr("name");
        if (key && datasets[key]) {
          data_conc.push(datasets[key]);
          data_tt.push(dataset_tt[key]);
        }
      });

      if (data_conc.length > 0) {
        $.plot("#concentration_plot", data_conc, {
          yaxis: {
            min: 0
          },
          xaxis: {
            tickDecimals: 0
          }
        });
        $.plot("#tt_plot", data_tt, {
          yaxis: {
            min: 0
          },
          xaxis: {
            tickDecimals: 0
          }
        });
      }
    }

    plotAccordingToChoices();
   
}
</script>

<script type="text/javascript">

	$(document).ready(function() {
Dajaxice.perfetc.show_graph(Dajax.process,{'body_model_id':{{bodymodel.examination}} });    
});


</script>	
<script>
var graph = new Springy.Graph();
//var graphJSON = [];
//graph.loadJSON(graphJSON);
jQuery(function (){
  var springy = jQuery('#graph').springy({
  graph: graph,
  nodeSelected: function (node) {
    console.log(node);
    Dajaxice.perfetc.node_props(Dajax.process,{'body_model_id':{{bodymodel.examination}},'nodename':node.id});
      // body...
    }
  });
});
</script>
<script>

$('#compartment').on('change',function(){
  console.log('1')
  Dajaxice.perfetc.change_model(Dajax.process,{'compartment_form':$('#compartment').serialize(true),
                                              'body_model_id':{{bodymodel.examination}}})
});

</script>


{% endblock scripts %}